body {
    padding: 10px;
    margin: 0;

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
}

.calculator {
    width: 300px;
    height: 400px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid rgb(49, 47, 47);
    text-align: center;
    background-color: #212121;
}

.buttons button {
    border-radius: 50%;

    width: 50px;
    font-size: 20px;
    font-weight: bolder;
    height: 50px;
    border: none;
    margin: 5px;

}

.clear {
    background-color: red;
    color: #fff;

}

input {
    padding: 10px;
    font-weight: bolder;
    border-radius: 20px;
    border: none;
    width: 250px;

    font-size: 15px;
    margin-bottom: 10px;
    text-align: right;
}

input:placeholder-shown {
    text-align: left;
}